@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slider-connect-bg: #71716a;
  --slider-tooltip-bg: #71716a;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fefce8;
  min-height: 100vh;
  height: 100%;
}

input[type="checkbox"] {
  accent-color: #71716a;
  cursor: pointer;
}
